<h1>All Your Trip Mates: </h1>


<% if creator_signed_in? && @tripmates != 0 %>

  <div class = "row">
  <% @tripmates.each do |person| %>
    <div class="col-md-4 col-sm-6 list-view">
        <div class = "thumbnail">
          <h2><a href="/persons/<%= person.id %>"><%= person.name %></a></h2>
          <h3>Gender: <%= person.gender %></h3>
          <h3>Age: <%= person.age %></h3>
        </div>
      </div>  
    <% end %>
  </div>

<% else %>

  <h3>No trip mates so far! Try adding one below!</h3>

<% end %>
        

<a href="/persons/new">Add New Trip Mate<span class="btn btn-default"></span></a>

<a href="/locations">Where Are You Going?<span class="btn btn-default"></span></a>