// Place all the styles related to the clothing_selections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.strike{
  text-decoration: line-through;
}

.container { position:relative; padding:0 150px 0 210px; }
#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:200px;
    height:750px;
    overflow: scroll;
    border-style: solid;
}
#content {width:700px; height:50px; margin:5px 0 5px 0;
}
