.application {
  margin-top: 90px;
 }

 .clothing_selections{
  -webkit-columns: 50px 3; /* Chrome, Safari, Opera */
  -moz-columns: 50px 3; /* Firefox */
  columns: 50px 3;
 }


 .navbar-inverse {
    background-color: #0A6AD0;
    border-color: transparent;
}

.nav-collapse, .nav-collapse.collapse {
    background: none repeat scroll 0 0 #ff755a;
    height: 90px;
    overflow: hidden;
}
.navbar img{
  height: auto;
  width: auto;
  max-height: 90px;
  margin-top: -28px;
}
