// Place all the styles related to the situations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    td:nth-child(even){background-color: #f2f2f2}
}
td:nth-child(even) {
    background-color: #99e6ff;
}

body{
  background-color: #cce6ff;
}