// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-wrapper {
    width:100%;
}
#left-side {
    width:450px;
    float:left;
}
#right-side {
    margin-left:400px;
}
body{
  background-color: #cce6ff;
}
#centered{
    margin: auto;
    width: 50%;
    padding: 10px;
}
#margin{
  padding-right: 40px;
  padding-left: 50px;
}